.block-wrapper
    section.cost
        h2.cost__title Сколько будет стоить ремонт в кредит и рассрочку?
        .cost__credit
            span В кредит
            .cost__text Это возможность увидеть вживую процесс создания ремонта, степень проработки деталей и мелочей в квартире, используемые материалы, особенности технологии «В Массиве»
        .cost__period
            span В рассрочку
            .cost__text Это возможность увидеть вживую процесс создания ремонта, степень проработки деталей и мелочей в квартире, используемые материалы, особенности технологии «В Массиве»
        .cost__bank Альфа-банк — наш банк-партнер
        .cost__price
            a.button.button--price Получить индивидуальный расчёт