footer.footer
    .block-wrapper
        .footer__logo
            img(src="assets/img/logo_bot.png")
            p © 2016 Inmassive
        .footer__networks
            .footer__img
                img(src="assets/img/logos.png")
            .footer__btn
                a.button.button--footer Напишите нам
        .footer__info
            p.footer__phone +7 (343) 200 30 30
            p.footer__city г. Екатеринбург,  
            p.footer__address Профсоюзная, 26, оф. 201
            p.footer__email info@inmassive.ru