.block-wrapper
    .header
        div.header__logo
            img(src="../img/logo.png")
            p.header__text Ремонт. Теперь это просто! 
        div.header__infoblock
            div.header__btn
                a(href="#repair").button.button--repair Констркутор ремонта
            div.header__contacts
                a.header__city Екатеринбург
                p.header__phone +7 (343) 200-30-30
section.headpromo
    .block-wrapper
        .headpromo__photo
            .headpromo__text Правильный ремонт квартиры с соблюдением бюджета  за 60 дней.
            .headpromo__subtext Удобный дизайн. Качественные материалы. Отлаженный процесс.  
        .headpromo__box.box
            .box__title Идеально продуманный ремонт квартиры для комфортного проживания!
            .box__text Мы круглосуточно фотографируем и снимаем квартиру, чтобы вы контролировали ход ремонта, не выходя из дома.Работы ведутся по регламенту, поэтому каждый этап мы завершаем в срок.
