section.map
    .block-wrapper
        .map__callback
            form.callback
                label.callback__title Обратный звонок 
                label Имя и фамилия
                input
                label Телефон
                input
                label
                .callback__manager
                    .callback__img
                        img(src="assets/img/anna.jpg")
                    .callback__name Анна Бычкова
                .callback__manager
                    .callback__img
                        img(src="assets/img/andrey.jpg")
                    .callback__name Андрей Косяков
                button(type="submit").button.button--callback Перезвонить мне