.block-wrapper
    section.repair#repiair
        .repair__box
            p.repair__text Создайте свой ремонт в нашем конструкторе
            a.button.button--repair.button--big Конструктор ремонта
        .repair__choose
            h2.repair__title.repair__title--colored Вы выбираете сами
            .repair__gallery.gallery
                .gallery__item 
                    .gallery__img
                        img(src="assets/img/repair_1.jpg")
                    .gallery__option Перепланировку
                .gallery__item 
                    .gallery__img
                        img(src="assets/img/repair_2.jpg")
                    .gallery__option Стиль
                .gallery__item 
                    .gallery__img
                        img(src="assets/img/repair_3.jpg")
                    .gallery__option Материалы
               .gallery__item 
                    .gallery__img
                        img(src="assets/img/repair_4.jpg")
                    .gallery__option Опции 
                .gallery__item 
                    .gallery__img
                        img(src="assets/img/repair_5.jpg")
                    .gallery__option Мебель
        .repiar__process
            h2.repair__title Процесс ремонта
            .repair__advantages.advantages
                .advantages__left
                    .advantages__item
                        span.advantages__text Высочайшее качество исполнения
                        .advantages__text  У нас работают проверенные мастера с большим опытом.Ведется постоянная сертификация персонала
                    .advantages__item
                        span.advantages__text Гарантия соблюдения сроков 
                        .advantages__text Все процессы тщательно регламентированы и просчитаны - ведутся в системе Overboss. Мы всегда сдаем квартирку в срок!
                .advantages__right
                    .advantages__item
                         span.advantages__text Качественные материалы 
                        .advantages__text Мы не экономим на материалах, используем только лучшие, экологически чистые товары.
                    .advantages__item
                         span.advantages__text Оптимизация бюджета 
                        .advantages__text Мы работаем только с проверенными материалами и закупаем исключительно у производителя, что исключает перерасход и переплату.
                 .advantages__item.advantages__item--wide
                     span.advantages__text Гарантийное обслуживание  
                        .advantages__text Мы выполненяем бесплатные гарантийные и не гарантийные случаи в течении 24 месяцев, а также оказывваем дополнительные услуги по обслуживанию инженерного оборудования 
        .repair__bonus
            h2.repair__title Вместе с ремонтом вы получите 
            .repair__perks.perks
                .perks__item
                    .perks__img
                    .perks__text Паспорт выполненного объекта с исполнительными схемами и актами скрытых работ
                .perks__item
                    .perks__img
                    .perks__text Фото всех процессов ремонта
                .perks__item
                    .perks__img
                    .perks__text Инструкции по правильному уходу за полами, стенами, потолками, окнами и инженерными сетями 
                .perks__item
                    .perks__img
                    .perks__text Видеоотчет (ускоренный) на весь процесс производства работ от демонтажа до клининга помещения
                
            .repair__insurance Cтраховка квартиры на 24 месяца в подарок
            