.block-wrapper
    section.showroom
        .showroom__box.box
            .box__row
                .box__title Посетите наш шоу-рум
                .box__text Это возможность увидеть вживую процесс создания ремонта, степень проработки деталей и мелочей в квартире, используемые материалы, особенности технологии «В Массиве»
                a.button Записаться
            .showroom__map
                .showroom__dot
                    img(src="assets/img/dot.png")
          .showroom__about.about
                .about__title Почему «В Массиве» лучший выбор 
                .about__block.about__block--left    
                    .about__item
                        span Экономим на дизайн-проекте 
                        .about__text С нами не придется тратить деньги на это, так как мы используем готовые дизайн-проекты
                     .about__item
                        span Экономим на мтериалах  
                        .about__text Мы сами закупаем материалы у проверенных поставщиков по оптовым ценам
                     .about__item
                        span Страхуем риски 
                        .about__text В течении двух лет после сдачи ремонта мы устраняем любые поломки,отклеившиеся обои, вздутый ламинат, сломавшуюся розетку и т.д.
                .about__block.about__block--right   
                     .about__item
                        span Ведем онлайн-наблюдение 
                        .about__text Мы ведем круглосуточное фото и видеонаблюдение, чтобы вы следили за ремонтом в онлайне.
                     .about__item
                        span Соблюдаем сроки 
                        .about__text Мы ведем работу по регламентам, которые помогают завершать каждый этап в срок
                     .about__item
                        span Делаем качественно и экологично 
                        .about__text Наш стаж — десять лет. Мы используем качественные и экологичные материалы и делаем ремонт по современным методикам и технологиям.
            