section.slider
    h2.slider__title Наши стили
    .block-wrapper
        .slider__container
            .slider__slide
                .slide(style="background-image:url(assets/img/slider_1.jpg)")
                    .slide__line
                        .slide__cell
                            .slide__desc 
                               p 1-комнатная хрущевка 29 м
                                    sup 2  
                                    |       
                                    b Cтиль: “Морской” 
                                p 
                                    b Срок: 30 дней  | 
                                    |  Стоимость: 800 000р.
                        .slide__button
                            a.button.button--slider Выбрать перепланировку 
            .slider__slide
                .slide(style="background-image:url(assets/img/slider_2.jpg)")
                    .slide__line
                        .slide__cell
                            .slide__desc 
                                p 1-комнатная хрущевка 29 м
                                    sup 2  
                                    |      
                                    b Cтиль: “Морской” 
                                p 
                                    b Срок: 30 дней | 
                                    |  Стоимость: 800 000р.
                        .slide__button
                            a.button.button--slider Выбрать перепланировку 
            .slider__slide
                .slide(style="background-image:url(assets/img/slider_3.jpg)")
                    .slide__line
                        .slide__cell
                            .slide__desc 
                               p 1-комнатная хрущевка 29 м
                                    sup 2  
                                    |      
                                    b Cтиль: “Морской” 
                                p 
                                    b Срок: 30 дней  | 
                                    |  Стоимость: 800 000р.
                        .slide__button
                            a.button.button--slider Выбрать перепланировку 
            .slider__slide
                .slide(style="background-image:url(assets/img/slider_4.jpg)")
                    .slide__line
                        .slide__cell
                            .slide__desc 
                               p 1-комнатная хрущевка 29 м
                                    sup 2  
                                    |      
                                    b Cтиль: “Морской” 
                                p 
                                    b Срок: 30 дней  |
                                    | Стоимость: 800 000р.
                        .slide__button
                            a.button.button--slider Выбрать перепланировку 
        .slider__nav.slider__nav--prev  
        .slider__nav.slider__nav--next 
        .slider__gallery
            .slider__item(data-num="0")
                a
                    img(src="assets/img/slider_1.jpg",style="width:245px;height:110px;")
            .slider__item(data-num="1")
                a
                    img(src="assets/img/slider_2.jpg",style="width:245px;height:110px;")
            .slider__item(data-num="2")
                a
                    img(src="assets/img/slider_3.jpg",style="width:245px;height:110px;")
            .slider__item(data-num="3")
                a
                    img(src="assets/img/slider_4.jpg",style="width:245px;height:110px;")