.block-wrapper
    section.stages
        h2.stages__title Этапы ремонта
            ol.stages__list
                li
                    span
                    .stages__text
                 li
                    span
                    .stages__text
                 li
                    span
                    .stages__text
                 li
                    span
                    .stages__text
                 li
                    span
                    .stages__tex
                 li
                    span
                    .stages__text
                 li
                    span
                    .stages__text
        .stages__order
            a.button.button--big.button--order Заказать замер и смету